.timer-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  background-color: #5035FF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5.76px 21.12px 6.1px 21.21px;
  width: 180px;
  margin-bottom: 10px;
}