/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #0B2434;
}

/* Winning image styles */
.winning-img{
    border: 10px dotted rebeccapurple;
    border-radius: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0.5); 
}
/* Basically make sure that you style components in their css or link them to App.css as well */
/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main{
 background-color: #F5F5F5;
}
.stats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.play-area{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D3CDFE;
    border-radius: 10px;
    padding: 20px 50px;
}


.field h1 {
    display: block;
    margin: 2vw;
    font-size: 6vw;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: center;
}

.field p {
    margin: 2vw;
    width: 90%;
    font-size: 4vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-align: center;
    color: #4A4E74;
}

/* Button styles */
.field button, .rolls {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    background-color: #5035FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5.76px 21.12px 6.1px 21.21px;
}

.field button {
    width: 90%;
    cursor: pointer;
    transform: scale(1);
    margin: 1vw;
}

.field button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
    transform: scale(0.9);  /* changed scale to transform */
}



@media (min-width: 576px) {

}
