.play-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Button styles */
.play-area button {
    width: 10rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    background-color: #5035FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 3.76px 10.12px 4.1px 10.21px;
}

.play-area button {
    cursor: pointer;
}

.play-area button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
    transform: scale(1.45);  /* changed scale to transform */
}