

/* Button styles */
.playing-area button {
    width: 12rem;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    background-color: #5035FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6.76px 20.12px 6.1px 20.21px;
}

.play-area button {
    cursor: pointer;
}

.play-area button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
    transform: scale(0.9);  /* changed scale to transform */
}