/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    background-color: #0B2434;
}

/* Winning image styles */
.winning-img{
    border: 10px dotted rebeccapurple;
    border-radius: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0.5);  /* changed scale to transform */
}

/* Container styles */
.container {
    height: 400px;
    max-width: 800px;
    border-radius: 5px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    margin: 0px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: center;
}

.container p {
    margin: 0px;
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #4A4E74;
}

/* Button styles */
.container button {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    background-color: #5035FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5.76px 21.12px 6.1px 21.21px;
    cursor: pointer;
    transform: scale(1.5);  /* changed scale to transform */
}

.container button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
    transform: scale(1.45);  /* changed scale to transform */
}

/* Dice container styles */
.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

/* Die face styles */
.die-face {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.die-face:active {
    box-shadow: inset 2px 2px 5px -1.5px rgba(0, 0, 0, 0.7);
    transform: scale(0.95);  /* changed scale to transform */
}

/* Die number styles */
.die-num {
    font-size: 2rem;
}

.lay{
    display: flex;
    border: 1px solid red;
}

.stats{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
